.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.dog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}